@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #171717;
  --white-text: #FFFFFF;
  --cream: #E6E6E6;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #F7F7F7;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.15s ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
